* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: rgb(34, 26, 41);
  font-family: "Segoe UI";
  font-size: 12pt;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* HEADER -------------------------------------------- */

header {
  background-color: rgb(0, 0, 0);
  padding: 20pt;
}

header p {
  color: aliceblue;
}

h1 {
  color: rgb(109, 28, 185);
}

.button_header {
  background-color: rgb(235, 245, 245);
  padding: 5pt;
  border: 0;
  border-radius: 4pt;
  text-decoration: none;
  margin-top: 10pt;
  color: rgb(83, 68, 97);
}

.button_header:hover {
  background-color: rgb(198, 137, 255);
  color: rgb(56, 7, 102);
}

/* MAIN -------------------------------------------- */

main {
  background: rgb(34, 26, 41);
  padding: 20pt;
}

p {
  color: rgb(180, 180, 180);
}

p strong {
  color: #f1f1f3;
}

/* SECTION COLLECTION -------------------------------------------- */

#section_collection,
#section_contaction,
#section_project,
#section_index {
  padding: 20pt;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 4pt;
  margin-bottom: 20pt;
}

#section_collection h2,
#section_contaction h2,
#section_project h2,
#section_index h2 {
  color: rgb(198, 137, 255);
  font-size: 16pt;
  font-weight: 100;
  margin-bottom: 20pt;
}

#section_project ul {
  margin-left: 40pt;
  font-size: 10pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
  color: #f1f1f3;
}

.linha {
  border: none;
  border-top: 1px solid rgb(198, 137, 255);
  width: 100%;
  margin: 10px 0;
}

form {
  padding-left: 20pt;
  font-size: 10pt;
}

.label_contato {
  padding-left: 20pt;
  font-size: 10pt;
}

input[type="text"],
input[type="number"],
#mensageBody {
  padding: 2pt;
  width: 99.5%;
  background-color: rgb(50, 37, 61);
  border: none;
}

form p {
  padding-bottom: 5pt;
  padding-top: 5pt;
}

form button {
  background-color: rgb(109, 28, 185);
  padding-top: 6pt;
  padding-bottom: 6pt;
  width: 100%;
  margin-top: 10pt;
  color: white;
  border-radius: 4pt;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-weight: bolder;
}

button:hover {
  background-color: rgb(198, 137, 255);
}

/* CARDS -------------------------------------------- */

#cards {
  width: 100%;
}

#cards table {
  padding-bottom: 10pt;
  padding-top: 10pt;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  color: #f1f1f3;
}

#cards table th {
  background-color: rgb(0, 0, 0);
  padding: 4pt;
  color: #f1f1f3;
  font-weight: 100;
}

#cards table td {
  text-align: center;
  padding-bottom: 4pt;
  padding-top: 4pt;
}

#cards table tr:nth-child(even) {
  background-color: rgb(54, 42, 65);
}

/* FOOTER -------------------------------------------- */

footer {
  background-color: rgb(0, 0, 0);
  padding: 20pt;
}

footer h3 {
  color: white;
}

.button_footer {
  background-color: rgb(50, 37, 61);
  padding: 5pt;
  border: 0;
  border-radius: 4pt;
  text-decoration: none;
  margin-top: 10pt;
  color: white;
}

.button_footer:hover {
  background-color: rgb(198, 137, 255);
  color: rgb(56, 7, 102);
}
